body {
    margin: 0;
    background-color: #a88075;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
  }
  
  .footer {
    height: 120px;
  
    margin-top: 100px;
    padding-top: 20px;
    border-top: solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
  } .footer a:hover {
    color: #77605b;
  }
  
  .logo {
    height: 30px;
    border-radius: 50%;
  }
  
  .foot-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  /* Insert @Media queries here! */

    @media (max-width: 992px) {
    .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
    margin: 20px 50px;
    margin-top: 10px;
    }
    
    .meal-card {
    width: 100%;
    opacity: 1;
    box-shadow: 1px 1px 15px black;
    } 

    .footer {
      display: flex;
      flex-direction: column-reverse;
    }

    .foot-item {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    }



  