/* Notice the "grid-area" */
.webpage {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 40px auto 120px;
    grid-template-areas:
      "sidebar  header"
      "sidebar  main"
      "footer   footer";
  }
  /* Used in the following rulesets */
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
  .sidebar {
    grid-area: sidebar;
  
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .profile-pic {
    width: 100%;
    border-radius: 50%;
  }
  .profile {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      gap: 2px; 
  }
  .name {
    font-size: larger;
    font-weight: bold;
    margin: 5px 0px;
  }
  .user-name {
    color: white;
  }
  .side-item {
    text-align: right;
    font-size: large;
  }
  .side-item:hover {
    font-weight: bold;
    color: #588157;
  }
  
  /* Insert @Media queries here! */
  
    @media (min-width: 768px) {
    .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
    margin: 10px;
    margin-top: 10px;
    }

    .meal-card {
    width: 100%;
    opacity: 1;
    box-shadow: 1px 1px 15px black;
    } 

    .nav-item {
      display: none;
    }

    .item {
      display: none;
    }

    .item , .main-nav {
      display: inline;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .dropdown {
      display: inline;
    }

    .main-nav {
      justify-content: center;
    }

    }

  @media (min-width: 1200px) {
    .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px;
    margin-top: 10px;
    }

    .meal-card {
    width: 100%;
    opacity: 1;
    box-shadow: 1px 1px 15px black;
    } 

    .nav-item {
      display: inline;
    }

    .item {
      display: inline;
    }

     .dropdown {
      display: none;
    }

    img {
      display: flex;
      flex-wrap: nowrap;
    }

  }
