.header {
    height: 40px;
  
    padding-bottom: 15px;
    font-weight: bold;
    font-size: larger;
    border-bottom: solid;
  
    display: flex;
    align-items: flex-end;
    gap: 60px;
  }
  
  .selected {
    color: #3a5a40;
  }
  
  /* Insert @Media queries here! */

  @media (max-width: 992px) {
    .header {
      justify-content: center;
    }

    }

    @media (max-width: 768px) {
    .header {
      justify-content: space-around;
      font-size: medium;
      padding: 10px;
      gap: 20px;
    }
    }
   